In [1]:
print("Hello World")

Hello World

In [3]:
#List
fruits = ['Apple','Mango','Apple',32,31,32,34,True]
print(fruits)

['Apple', 'Mango', 'Apple', 32, 31, 32, 34, True]

In [2]:
type(fruits)

list

In [5]:
fruits[1] = 'Grapes'
print(fruits)

['Apple', 'Grapes', 'Apple', 32, 31, 32, 34, True]

In [7]:
fruits.insert(2,'Banana')
print(fruits)

['Apple', 'Grapes', 'Banana', 'Banana', 'Apple', 32, 31, 32, 34, True]

In [9]:
fruits.append('Kiwi')
print(fruits)

['Apple', 'Grapes', 'Banana', 'Banana', 'Apple', 32, 31, 32, 34, True, 'Kiwi', 'Kiwi']

In [11]:
fruits.remove('Kiwi')
fruits.remove('Grapes')
print(fruits)

['Apple', 'Banana', 'Banana', 'Apple', 32, 31, 32, 34, True]

In [12]:
fruits.pop(3)
print(fruits)

['Apple', 'Banana', 'Banana', 32, 31, 32, 34, True]

In [15]:
#Tuple
fruits = ('Apple','Mango','Banana','Kiwi','Banana',32,34,53,12,True,False)
print(fruits)
type(fruits)

('Apple', 'Mango', 'Banana', 'Kiwi', 'Banana', 32, 34, 53, 12, True, False)

tuple

In [16]:
fruits = ('Apple','Mango','Banana','Kiwi','Banana',32,34,53,12,True,False)
x = list(fruits)
x[3] = 'Grapes'
fruits = tuple(x)
print(fruits)

('Apple', 'Mango', 'Banana', 'Grapes', 'Banana', 32, 34, 53, 12, True, False)

In [17]:
x = list(fruits)
x.insert(2,'Banana')
fruits = tuple(x)
print(fruits)

('Apple', 'Mango', 'Banana', 'Banana', 'Grapes', 'Banana', 32, 34, 53, 12, True, False)

In [18]:
x = list(fruits)
x.append('Kiwi')
fruits = tuple(x)
print(fruits)

('Apple', 'Mango', 'Banana', 'Banana', 'Grapes', 'Banana', 32, 34, 53, 12, True, False, 'Kiwi')

In [19]:
x = list(fruits)
x.remove('Grapes')
fruits = tuple(x)
print(fruits)

('Apple', 'Mango', 'Banana', 'Banana', 'Banana', 32, 34, 53, 12, True, False, 'Kiwi')

In [20]:
x = list(fruits)
x.pop(3)
fruits = tuple(x)
print(fruits)

('Apple', 'Mango', 'Banana', 'Banana', 32, 34, 53, 12, True, False, 'Kiwi')

In [24]:
#Set
fruits = {'Apple','Mango','Banana','Kiwi','Banana',32,34,53,12,True,False}
print(fruits)

{32, 'Apple', 34, 'Kiwi', 'Mango', True, False, 12, 53, 'Banana'}

In [25]:
fruits.add('Grapes')
print(fruits)

{32, 'Apple', 34, 'Kiwi', 'Mango', True, False, 12, 'Grapes', 53, 'Banana'}

In [26]:
num ={1,2,3,4,5,6}
fruits.update(num)
print(fruits)

{32, 'Apple', 34, 'Kiwi', 'Mango', True, False, 2, 3, 4, 5, 6, 12, 'Grapes', 53, 'Banana'}

In [27]:
fruits.remove('Apple')
print(fruits)

{32, 34, 'Kiwi', 'Mango', True, False, 2, 3, 4, 5, 6, 12, 'Grapes', 53, 'Banana'}

In [28]:
fruits.discard(32)
print(fruits)

{34, 'Kiwi', 'Mango', True, False, 2, 3, 4, 5, 6, 12, 'Grapes', 53, 'Banana'}

In [30]:
#Dictionary
car = {
    'brand': 'Ford',
    'Model': 'Mustang',
    'year': 1964
}
print(car)

{'brand': 'Ford', 'Model': 'Mustang', 'year': 1964}

In [31]:
car.keys()

dict_keys(['brand', 'Model', 'year'])

In [32]:
car.values()

dict_values(['Ford', 'Mustang', 1964])

In [33]:
car.items()

dict_items([('brand', 'Ford'), ('Model', 'Mustang'), ('year', 1964)])

In [34]:
car['brand'] = 'Kia'
print(car)

{'brand': 'Kia', 'Model': 'Mustang', 'year': 1964}

In [36]:
car.update({'Model': 'Sonet'})
print(car)

{'brand': 'Kia', 'Model': 'Sonet', 'year': 1964}

In [37]:
car['color'] = 'Red'
print(car)

{'brand': 'Kia', 'Model': 'Sonet', 'year': 1964, 'color': 'Red'}

In [38]:
car.update({'tyre':4})
print(car)

{'brand': 'Kia', 'Model': 'Sonet', 'year': 1964, 'color': 'Red', 'tyre': 4}

In [40]:
car.pop('Model')
print(car)

{'brand': 'Kia', 'year': 1964, 'color': 'Red', 'tyre': 4}

In [41]:
car.popitem()
print(car)

{'brand': 'Kia', 'year': 1964, 'color': 'Red'}