In [1]:
print("Hello World")

Hello World

In [2]:
#List
fruits = ['Apple','Mango','Apple',32,31,32,34,True]
print(fruits)

['Apple', 'Mango', 'Apple', 32, 31, 32, 34, True]

In [3]:
type(fruits)

list

In [4]:
fruits[1] = 'Grapes'
print(fruits)

['Apple', 'Grapes', 'Apple', 32, 31, 32, 34, True]

In [5]:
fruits.insert(2,'Banana')
print(fruits)

['Apple', 'Grapes', 'Banana', 'Apple', 32, 31, 32, 34, True]

In [6]:
fruits.append('Kiwi')
print(fruits)

['Apple', 'Grapes', 'Banana', 'Apple', 32, 31, 32, 34, True, 'Kiwi']

In [7]:
fruits.remove('Kiwi')
fruits.remove('Grapes')
print(fruits)

['Apple', 'Banana', 'Apple', 32, 31, 32, 34, True]

In [8]:
fruits.pop(3)
print(fruits)

['Apple', 'Banana', 'Apple', 31, 32, 34, True]

In [9]:
#Tuple
fruits = ('Apple','Mango','Banana','Kiwi','Banana',32,34,53,12,True,False)
print(fruits)
type(fruits)

('Apple', 'Mango', 'Banana', 'Kiwi', 'Banana', 32, 34, 53, 12, True, False)

tuple

In [10]:
fruits = ('Apple','Mango','Banana','Kiwi','Banana',32,34,53,12,True,False)
x = list(fruits)
x[3] = 'Grapes'
fruits = tuple(x)
print(fruits)

('Apple', 'Mango', 'Banana', 'Grapes', 'Banana', 32, 34, 53, 12, True, False)

In [11]:
x = list(fruits)
x.insert(2,'Banana')
fruits = tuple(x)
print(fruits)

('Apple', 'Mango', 'Banana', 'Banana', 'Grapes', 'Banana', 32, 34, 53, 12, True, False)

In [12]:
x = list(fruits)
x.append('Kiwi')
fruits = tuple(x)
print(fruits)

('Apple', 'Mango', 'Banana', 'Banana', 'Grapes', 'Banana', 32, 34, 53, 12, True, False, 'Kiwi')

In [13]:
x = list(fruits)
x.remove('Grapes')
fruits = tuple(x)
print(fruits)

('Apple', 'Mango', 'Banana', 'Banana', 'Banana', 32, 34, 53, 12, True, False, 'Kiwi')

In [14]:
x = list(fruits)
x.pop(3)
fruits = tuple(x)
print(fruits)

('Apple', 'Mango', 'Banana', 'Banana', 32, 34, 53, 12, True, False, 'Kiwi')

In [15]:
#Set
fruits = {'Apple','Mango','Banana','Kiwi','Banana',32,34,53,12,True,False}
print(fruits)

{32, 'Kiwi', 34, True, False, 'Banana', 12, 53, 'Mango', 'Apple'}

In [16]:
fruits.add('Grapes')
print(fruits)

{32, 'Kiwi', 34, True, False, 'Grapes', 'Banana', 12, 53, 'Mango', 'Apple'}

In [17]:
num ={1,2,3,4,5,6}
fruits.update(num)
print(fruits)

{32, 'Kiwi', 34, True, False, 'Grapes', 'Banana', 2, 3, 4, 5, 6, 12, 53, 'Mango', 'Apple'}

In [18]:
fruits.remove('Apple')
print(fruits)

{32, 'Kiwi', 34, True, False, 'Grapes', 'Banana', 2, 3, 4, 5, 6, 12, 53, 'Mango'}

In [19]:
fruits.discard(32)
print(fruits)

{'Kiwi', 34, True, False, 'Grapes', 'Banana', 2, 3, 4, 5, 6, 12, 53, 'Mango'}

In [20]:
#Dictionary
car = {
    'brand': 'Ford',
    'Model': 'Mustang',
    'year': 1964
}
print(car)

{'brand': 'Ford', 'Model': 'Mustang', 'year': 1964}

In [21]:
car.keys()

dict_keys(['brand', 'Model', 'year'])

In [22]:
car.values()

dict_values(['Ford', 'Mustang', 1964])

In [23]:
car.items()

dict_items([('brand', 'Ford'), ('Model', 'Mustang'), ('year', 1964)])

In [24]:
car['brand'] = 'Kia'
print(car)

{'brand': 'Kia', 'Model': 'Mustang', 'year': 1964}

In [25]:
car.update({'Model': 'Sonet'})
print(car)

{'brand': 'Kia', 'Model': 'Sonet', 'year': 1964}

In [26]:
car['color'] = 'Red'
print(car)

{'brand': 'Kia', 'Model': 'Sonet', 'year': 1964, 'color': 'Red'}

In [27]:
car.update({'tyre':4})
print(car)

{'brand': 'Kia', 'Model': 'Sonet', 'year': 1964, 'color': 'Red', 'tyre': 4}

In [28]:
car.pop('Model')
print(car)

{'brand': 'Kia', 'year': 1964, 'color': 'Red', 'tyre': 4}

In [29]:
car.popitem()
print(car)

{'brand': 'Kia', 'year': 1964, 'color': 'Red'}

In [2]:
# Conditional Statements
a = 95
if a > 90:
    print("I will get a mercedes")
else:
    print("I will get a bike")

I will get a mercedes

In [3]:
#Loops
for i in "london":
    print(i)

l
o
n
d
o
n

In [4]:
for a in 'USA':
    print("Hello",a)

Hello U
Hello S
Hello A