In [2]:
import pandas as pd
import dtale

c:\Users\kriis\AppData\Local\Programs\Python\Python313\Lib\site-packages\dtale\utils.py:18: UserWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html. The pkg_resources package is slated for removal as early as 2025-11-30. Refrain from using this package or pin to Setuptools<81.
  from pkg_resources import parse_version

In [3]:
import numpy as np

# Set seed for reproducibility
np.random.seed(42)

# Number of rows
n = 100

# Generate fake data
data = {
    'Employee_ID': np.arange(1, n+1),
    'Name': [f'Employee_{i}' for i in range(1, n+1)],
    'Age': np.random.randint(21, 60, n),
    'Department': np.random.choice(['HR', 'IT', 'Finance', 'Sales', 'Marketing'], n),
    'Experience_Years': np.random.randint(0, 20, n),
    'Salary': np.random.randint(25000, 120000, n),
    'Joining_Date': pd.to_datetime(np.random.choice(pd.date_range('2015-01-01', '2023-12-31'), n))
}

# Create DataFrame
df = pd.DataFrame(data)

# Save to CSV for later use
df.to_csv("employee_data.csv", index=False)

dtale.show(df.head())

In [4]:
dtale.show(df['Name'])

In [5]:
df.shape

(100, 7)

In [6]:
df.describe()

,Employee_ID,Age,Experience_Years,Salary,Joining_Date
count,100.000000,100.000000,100.0000,100.000000,100
mean,50.500000,39.430000,9.2900,76547.330000,2019-09-03 08:38:24
min,1.000000,21.000000,0.0000,26150.000000,2015-01-12 00:00:00
25%,25.750000,29.000000,3.0000,52473.500000,2017-06-14 18:00:00
50%,50.500000,40.500000,8.0000,79130.500000,2019-06-24 12:00:00
75%,75.250000,48.000000,15.0000,101715.500000,2022-02-02 18:00:00
max,100.000000,59.000000,19.0000,119841.000000,2023-12-12 00:00:00
std,29.011492,11.149358,6.5417,28753.328635,NaN

In [7]:
dtale.show(df['Age'].value_counts())

In [8]:
print(df.to_string())

    Employee_ID          Name  Age Department  Experience_Years  Salary Joining_Date
0             1    Employee_1   59    Finance                 5   70236   2016-05-27
1             2    Employee_2   49      Sales                15   91235   2022-10-20
2             3    Employee_3   35    Finance                 2   79240   2018-01-24
3             4    Employee_4   28    Finance                19   90726   2018-02-15
4             5    Employee_5   41         HR                 3   35492   2016-07-13
5             6    Employee_6   59    Finance                18   31102   2016-05-02
6             7    Employee_7   39  Marketing                 2   75336   2017-06-15
7             8    Employee_8   43    Finance                18  110314   2018-04-27
8             9    Employee_9   31         HR                19   51641   2016-12-04
9            10   Employee_10   31  Marketing                 6   59584   2019-01-10
10           11   Employee_11   44         IT                19   57745   2016-08-03
11           12   Employee_12   56    Finance                 8   48093   2022-10-08
12           13   Employee_13   44         HR                 0   91105   2022-12-18
13           14   Employee_14   23         IT                 7   76885   2021-04-13
14           15   Employee_15   42         IT                 6   61631   2023-08-14
15           16   Employee_16   22      Sales                17   97991   2015-06-03
16           17   Employee_17   44  Marketing                 7   29014   2019-08-07
17           18   Employee_18   50    Finance                 0   36093   2017-09-23
18           19   Employee_19   58         HR                10   43070   2023-08-24
19           20   Employee_20   22      Sales                17   60777   2022-07-07
20           21   Employee_21   41  Marketing                 9   81958   2018-05-28
21           22   Employee_22   53      Sales                 2  107074   2017-12-28
22           23   Employee_23   32  Marketing                 6   35729   2023-07-16
23           24   Employee_24   42  Marketing                15   70017   2017-10-05
24           25   Employee_25   45    Finance                15   91320   2020-11-11
25           26   Employee_26   47  Marketing                19   52751   2019-11-09
26           27   Employee_27   48      Sales                16  103069   2017-08-15
27           28   Employee_28   36  Marketing                 1   79748   2023-05-18
28           29   Employee_29   35    Finance                 0   30801   2016-03-28
29           30   Employee_30   23    Finance                15   44190   2018-05-12
30           31   Employee_31   57      Sales                11   74689   2023-02-07
31           32   Employee_32   27         IT                 4   75993   2021-03-15
32           33   Employee_33   41         IT                 4   54592   2021-11-26
33           34   Employee_34   29  Marketing                 8   35647   2021-10-15
34           35   Employee_35   59         HR                 8   33716   2021-07-16
35           36   Employee_36   38  Marketing                 2  113891   2016-07-04
36           37   Employee_37   24      Sales                18  112545   2019-06-24
37           38   Employee_38   45      Sales                15  114912   2018-08-05
38           39   Employee_39   34      Sales                15   95316   2019-10-24
39           40   Employee_40   29      Sales                 2   27368   2015-12-23
40           41   Employee_41   46      Sales                19  102575   2020-09-01
41           42   Employee_42   22    Finance                 0   31655   2019-11-21
42           43   Employee_43   40         IT                19   95031   2022-01-13
43           44   Employee_44   48      Sales                10  101429   2019-11-17
44           45   Employee_45   27         HR                16  116083   2023-09-07
45           46   Employee_46   28         HR                 7  112922   2022-10-20
46           47   Employee_47   55         HR                 3   80766   2023-11-26
47           48   Employee_48   34         HR                 5   38403   2022-09-10
48           49   Employee_49   37    Finance                 7   57097   2021-10-25
49           50   Employee_50   56         HR                19  103657   2019-06-20
50           51   Employee_51   24      Sales                 2   35966   2022-09-17
51           52   Employee_52   22  Marketing                15  118848   2017-10-12
52           53   Employee_53   26         HR                 2   77921   2018-09-10
53           54   Employee_54   24    Finance                17   74726   2016-05-30
54           55   Employee_55   49    Finance                13   75300   2023-06-15
55           56   Employee_56   38         HR                17   47677   2022-10-10
56           57   Employee_57   46  Marketing                 1   80609   2015-12-02
57           58   Employee_58   54         HR                 2   81661   2019-11-18
58           59   Employee_59   30    Finance                15   56024   2021-04-24
59           60   Employee_60   56         IT                 8   95313   2016-05-11
60           61   Employee_61   34      Sales                 3   78006   2017-06-14
61           62   Employee_62   51    Finance                 0   40338   2021-01-16
62           63   Employee_63   35         HR                 3   93027   2017-05-01
63           64   Employee_64   28      Sales                 0  117772   2019-08-15
64           65   Employee_65   34         HR                13  105135   2020-04-15
65           66   Employee_66   43         HR                15   44508   2022-06-30
66           67   Employee_67   41         IT                19   28051   2021-08-24
67           68   Employee_68   36      Sales                 7   73747   2019-04-18
68           69   Employee_69   38      Sales                 6  112142   2017-08-14
69           70   Employee_70   44         IT                 2  112235   2022-07-01
70           71   Employee_71   46    Finance                16   79021   2019-06-25
71           72   Employee_72   45         HR                 0   91412   2018-07-15
72           73   Employee_73   49  Marketing                15   83335   2018-12-11
73           74   Employee_74   35         HR                11   81179   2018-04-06
74           75   Employee_75   21         HR                18   57093   2017-12-02
75           76   Employee_76   45    Finance                13   94678   2015-10-12
76           77   Employee_77   27         HR                 5  105738   2021-09-10
77           78   Employee_78   29         IT                 5   64734   2015-01-12
78           79   Employee_79   44         IT                12   97615   2019-06-19
79           80   Employee_80   21      Sales                18   98523   2021-12-21
80           81   Employee_81   28  Marketing                 7  119476   2017-01-23
81           82   Employee_82   44         HR                 1   42019   2020-09-13
82           83   Employee_83   31         HR                 0  108613   2022-08-06
83           84   Employee_84   37    Finance                14  116794   2022-12-06
84           85   Employee_85   28         IT                 0  111672   2015-03-31
85           86   Employee_86   55  Marketing                 4   98847   2017-02-14
86           87   Employee_87   55      Sales                15  107750   2022-04-06
87           88   Employee_88   53         IT                18  104634   2023-04-06
88           89   Employee_89   25      Sales                 3   53251   2019-06-14
89           90   Employee_90   59    Finance                 2   50945   2023-05-28
90           91   Employee_91   48    Finance                16  115852   2016-02-22
91           92   Employee_92   27         HR                16   57217   2015-04-25
92           93   Employee_93   29  Marketing                11   33308   2016-09-08
93           94   Employee_94   28      Sales                13   30949   2023-12-12
94           95   Employee_95   32         IT                 5   76990   2017-04-05
95           96   Employee_96   54    Finance                 2   26150   2019-07-08
96           97   Employee_97   53         HR                 8  114480   2019-02-25
97           98   Employee_98   43         HR                 4   99740   2023-08-13
98           99   Employee_99   44      Sales                16   91617   2016-02-17
99          100  Employee_100   57    Finance                13  119841   2016-12-29

In [9]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}
myvar = pd.DataFrame(mydataset)
dtale.show(myvar)

In [10]:
print(pd.__version__)

2.3.0

In [11]:
a = [1,7,3]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    3
dtype: int64

In [12]:
type(myvar)

pandas.core.series.Series

In [13]:
print(myvar[0])

1

In [14]:
myvar = pd.Series(a,index = ['x','y','z'])
print(myvar)

x    1
y    7
z    3
dtype: int64

In [15]:
print(myvar['z'])

3

In [16]:
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [17]:
myvar = pd.Series(calories, index = ['day1','day2'])
print(myvar)

day1    420
day2    380
dtype: int64

In [18]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
myvar = pd.DataFrame(data)
print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

In [19]:
df = pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [20]:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [21]:
print(df.loc[[0,1]])

   calories  duration
0       420        50
1       380        40

In [22]:
df = pd.DataFrame(data,index = ['Day1','Day2','Day3'])
print(df)

      calories  duration
Day1       420        50
Day2       380        40
Day3       390        45

In [23]:
print(df.loc['Day3'])

calories    390
duration     45
Name: Day3, dtype: int64

In [24]:
df = pd.read_csv('data.csv')
dtale.show(df.head())

In [25]:
dtale.show(df)

In [26]:
print(pd.options.display.max_rows)

60

In [27]:
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [28]:
pd.options.display.max_rows = 9999
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [31]:
df = pd.read_json('data.json')
print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.5
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.5
37         60    100       120     300.1
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.1
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [32]:
print(df.head(10))

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.5
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [33]:
print(df.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [34]:
print(df.tail())

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [35]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 6.6 KB
None

In [37]:
df = pd.read_csv('workout_data.csv')
print(df)

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112       NaN
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45         NaN    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132       NaN
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [38]:
#Removing rows containing null values
new_df = df.dropna()
dtale.show(new_df)

In [40]:
#dropna() will return a new dataframe so we use argument inplace=True to change the original df
df.dropna(inplace=True)
dtale.show(df)

In [42]:
df = pd.read_csv('workout_data.csv')
df.fillna(130,inplace=True)
dtale.show(df)

In [45]:
df = pd.read_csv('workout_data.csv')
df.fillna({"Calories": 130}, inplace=True)
dtale.show(df)

In [48]:
df = pd.read_csv('workout_data.csv')
x = df["Calories"].mean()
df.fillna({"Calories": x}, inplace=True)
dtale.show(df)

In [50]:
df = pd.read_csv('workout_data.csv')
x = df["Calories"].median()
df.fillna({"Calories": x}, inplace=True)
print(x)
dtale.show(df)

291.2

In [55]:
df = pd.read_csv("workout_data.csv")
x = df["Calories"].mode()[0]
df.fillna({"Calories": x}, inplace=True)
print(x)
dtale.show(df)

300.0

In [57]:
#Handling wrong data format
df = pd.read_csv('workout_data.csv')
df['Date'] = pd.to_datetime(df['Date'], format='mixed')
dtale.show(df)

In [61]:
df.dropna(subset=["Date"],inplace=True)
dtale.show(df)

In [62]:
#Fixing wrong data
df.loc[7, 'Duration'] = 45
dtale.show(df)

In [69]:
#Setting conditions to replace values on wrong data cells
df.loc[7, 'Duration'] = 450
df.dropna(inplace=True)
for x in df.index:
    if df.loc[x,"Duration"] > 120:
        df.loc[x, "Duration"] = 120
dtale.show(df)

In [70]:
#Setting conditions to drop rows on wrong data cells
df.loc[7, "Duration"] = 450
for x in df.index:
    if df.loc[x, "Duration"] > 120:
        df.drop(x, inplace=True)
dtale.show(df)

In [71]:
#Handling duplicate values
print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
19    False
20    False
21    False
23    False
24    False
25    False
26    False
27    False
29    False
30    False
31    False
dtype: bool

In [72]:
df.drop_duplicates(inplace=True)
dtale.show(df)