In [5]:
import pandas as pd
import dtale

In [6]:
import numpy as np

# Set seed for reproducibility
np.random.seed(42)

# Number of rows
n = 100

# Generate fake data
data = {
    'Employee_ID': np.arange(1, n+1),
    'Name': [f'Employee_{i}' for i in range(1, n+1)],
    'Age': np.random.randint(21, 60, n),
    'Department': np.random.choice(['HR', 'IT', 'Finance', 'Sales', 'Marketing'], n),
    'Experience_Years': np.random.randint(0, 20, n),
    'Salary': np.random.randint(25000, 120000, n),
    'Joining_Date': pd.to_datetime(np.random.choice(pd.date_range('2015-01-01', '2023-12-31'), n))
}

# Create DataFrame
df = pd.DataFrame(data)

# Save to CSV for later use
df.to_csv("employee_data.csv", index=False)

dtale.show(df.head())

In [7]:
dtale.show(df['Name'])

In [9]:
df.shape

(100, 7)

In [13]:
df.describe()

,Employee_ID,Age,Experience_Years,Salary,Joining_Date
count,100.000000,100.000000,100.0000,100.000000,100
mean,50.500000,39.430000,9.2900,76547.330000,2019-09-03 08:38:24
min,1.000000,21.000000,0.0000,26150.000000,2015-01-12 00:00:00
25%,25.750000,29.000000,3.0000,52473.500000,2017-06-14 18:00:00
50%,50.500000,40.500000,8.0000,79130.500000,2019-06-24 12:00:00
75%,75.250000,48.000000,15.0000,101715.500000,2022-02-02 18:00:00
max,100.000000,59.000000,19.0000,119841.000000,2023-12-12 00:00:00
std,29.011492,11.149358,6.5417,28753.328635,NaN

In [14]:
dtale.show(df['Age'].value_counts())

In [17]:
print(df.to_string())

    Employee_ID          Name  Age Department  Experience_Years  Salary Joining_Date
0             1    Employee_1   59    Finance                 5   70236   2016-05-27
1             2    Employee_2   49      Sales                15   91235   2022-10-20
2             3    Employee_3   35    Finance                 2   79240   2018-01-24
3             4    Employee_4   28    Finance                19   90726   2018-02-15
4             5    Employee_5   41         HR                 3   35492   2016-07-13
5             6    Employee_6   59    Finance                18   31102   2016-05-02
6             7    Employee_7   39  Marketing                 2   75336   2017-06-15
7             8    Employee_8   43    Finance                18  110314   2018-04-27
8             9    Employee_9   31         HR                19   51641   2016-12-04
9            10   Employee_10   31  Marketing                 6   59584   2019-01-10
10           11   Employee_11   44         IT                19   57745   2016-08-03
11           12   Employee_12   56    Finance                 8   48093   2022-10-08
12           13   Employee_13   44         HR                 0   91105   2022-12-18
13           14   Employee_14   23         IT                 7   76885   2021-04-13
14           15   Employee_15   42         IT                 6   61631   2023-08-14
15           16   Employee_16   22      Sales                17   97991   2015-06-03
16           17   Employee_17   44  Marketing                 7   29014   2019-08-07
17           18   Employee_18   50    Finance                 0   36093   2017-09-23
18           19   Employee_19   58         HR                10   43070   2023-08-24
19           20   Employee_20   22      Sales                17   60777   2022-07-07
20           21   Employee_21   41  Marketing                 9   81958   2018-05-28
21           22   Employee_22   53      Sales                 2  107074   2017-12-28
22           23   Employee_23   32  Marketing                 6   35729   2023-07-16
23           24   Employee_24   42  Marketing                15   70017   2017-10-05
24           25   Employee_25   45    Finance                15   91320   2020-11-11
25           26   Employee_26   47  Marketing                19   52751   2019-11-09
26           27   Employee_27   48      Sales                16  103069   2017-08-15
27           28   Employee_28   36  Marketing                 1   79748   2023-05-18
28           29   Employee_29   35    Finance                 0   30801   2016-03-28
29           30   Employee_30   23    Finance                15   44190   2018-05-12
30           31   Employee_31   57      Sales                11   74689   2023-02-07
31           32   Employee_32   27         IT                 4   75993   2021-03-15
32           33   Employee_33   41         IT                 4   54592   2021-11-26
33           34   Employee_34   29  Marketing                 8   35647   2021-10-15
34           35   Employee_35   59         HR                 8   33716   2021-07-16
35           36   Employee_36   38  Marketing                 2  113891   2016-07-04
36           37   Employee_37   24      Sales                18  112545   2019-06-24
37           38   Employee_38   45      Sales                15  114912   2018-08-05
38           39   Employee_39   34      Sales                15   95316   2019-10-24
39           40   Employee_40   29      Sales                 2   27368   2015-12-23
40           41   Employee_41   46      Sales                19  102575   2020-09-01
41           42   Employee_42   22    Finance                 0   31655   2019-11-21
42           43   Employee_43   40         IT                19   95031   2022-01-13
43           44   Employee_44   48      Sales                10  101429   2019-11-17
44           45   Employee_45   27         HR                16  116083   2023-09-07
45           46   Employee_46   28         HR                 7  112922   2022-10-20
46           47   Employee_47   55         HR                 3   80766   2023-11-26
47           48   Employee_48   34         HR                 5   38403   2022-09-10
48           49   Employee_49   37    Finance                 7   57097   2021-10-25
49           50   Employee_50   56         HR                19  103657   2019-06-20
50           51   Employee_51   24      Sales                 2   35966   2022-09-17
51           52   Employee_52   22  Marketing                15  118848   2017-10-12
52           53   Employee_53   26         HR                 2   77921   2018-09-10
53           54   Employee_54   24    Finance                17   74726   2016-05-30
54           55   Employee_55   49    Finance                13   75300   2023-06-15
55           56   Employee_56   38         HR                17   47677   2022-10-10
56           57   Employee_57   46  Marketing                 1   80609   2015-12-02
57           58   Employee_58   54         HR                 2   81661   2019-11-18
58           59   Employee_59   30    Finance                15   56024   2021-04-24
59           60   Employee_60   56         IT                 8   95313   2016-05-11
60           61   Employee_61   34      Sales                 3   78006   2017-06-14
61           62   Employee_62   51    Finance                 0   40338   2021-01-16
62           63   Employee_63   35         HR                 3   93027   2017-05-01
63           64   Employee_64   28      Sales                 0  117772   2019-08-15
64           65   Employee_65   34         HR                13  105135   2020-04-15
65           66   Employee_66   43         HR                15   44508   2022-06-30
66           67   Employee_67   41         IT                19   28051   2021-08-24
67           68   Employee_68   36      Sales                 7   73747   2019-04-18
68           69   Employee_69   38      Sales                 6  112142   2017-08-14
69           70   Employee_70   44         IT                 2  112235   2022-07-01
70           71   Employee_71   46    Finance                16   79021   2019-06-25
71           72   Employee_72   45         HR                 0   91412   2018-07-15
72           73   Employee_73   49  Marketing                15   83335   2018-12-11
73           74   Employee_74   35         HR                11   81179   2018-04-06
74           75   Employee_75   21         HR                18   57093   2017-12-02
75           76   Employee_76   45    Finance                13   94678   2015-10-12
76           77   Employee_77   27         HR                 5  105738   2021-09-10
77           78   Employee_78   29         IT                 5   64734   2015-01-12
78           79   Employee_79   44         IT                12   97615   2019-06-19
79           80   Employee_80   21      Sales                18   98523   2021-12-21
80           81   Employee_81   28  Marketing                 7  119476   2017-01-23
81           82   Employee_82   44         HR                 1   42019   2020-09-13
82           83   Employee_83   31         HR                 0  108613   2022-08-06
83           84   Employee_84   37    Finance                14  116794   2022-12-06
84           85   Employee_85   28         IT                 0  111672   2015-03-31
85           86   Employee_86   55  Marketing                 4   98847   2017-02-14
86           87   Employee_87   55      Sales                15  107750   2022-04-06
87           88   Employee_88   53         IT                18  104634   2023-04-06
88           89   Employee_89   25      Sales                 3   53251   2019-06-14
89           90   Employee_90   59    Finance                 2   50945   2023-05-28
90           91   Employee_91   48    Finance                16  115852   2016-02-22
91           92   Employee_92   27         HR                16   57217   2015-04-25
92           93   Employee_93   29  Marketing                11   33308   2016-09-08
93           94   Employee_94   28      Sales                13   30949   2023-12-12
94           95   Employee_95   32         IT                 5   76990   2017-04-05
95           96   Employee_96   54    Finance                 2   26150   2019-07-08
96           97   Employee_97   53         HR                 8  114480   2019-02-25
97           98   Employee_98   43         HR                 4   99740   2023-08-13
98           99   Employee_99   44      Sales                16   91617   2016-02-17
99          100  Employee_100   57    Finance                13  119841   2016-12-29

In [18]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}
myvar = pd.DataFrame(mydataset)
dtale.show(myvar)

In [20]:
print(pd.__version__)

2.3.0

In [21]:
a = [1,7,3]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    3
dtype: int64

In [22]:
type(myvar)

pandas.core.series.Series

In [23]:
print(myvar[0])

1

In [24]:
myvar = pd.Series(a,index = ['x','y','z'])
print(myvar)

x    1
y    7
z    3
dtype: int64

In [25]:
print(myvar['z'])

3

In [27]:
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [30]:
myvar = pd.Series(calories, index = ['day1','day2'])
print(myvar)

day1    420
day2    380
dtype: int64

In [31]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
myvar = pd.DataFrame(data)
print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

In [ ]:
df = pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [34]:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [35]:
print(df.loc[[0,1]])

   calories  duration
0       420        50
1       380        40

In [36]:
df = pd.DataFrame(data,index = ['Day1','Day2','Day3'])
print(df)

      calories  duration
Day1       420        50
Day2       380        40
Day3       390        45

In [37]:
print(df.loc['Day3'])

calories    390
duration     45
Name: Day3, dtype: int64